@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-image: url(https://images.unsplash.com/photo-1418985991508-e47386d96a71?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  font-family: "poppins", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

h1 {
  color: purple;
  font-size: 4rem;
  margin-top: -12rem;
  font-weight: normal;
  margin-left: 7rem;
}

.datecontainer {
  display: flex;
  margin-top: -3rem;
}

.big-textcontainer {
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
}

.datecontainer {
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.spandays {
  margin-right: 2rem;
  font-weight: lighter;
  color: red;
}

.spanhours {
  margin-right: 2rem;
  font-weight: normal;
  color: green;
}
.spanminutes {
  margin-right: 2rem;
  font-weight: normal;
  color: blue;
}
.spanseconds {
  margin-right: 2rem;
  color: orange;
}
